.container {
  display: flex;
  gap: var(--spacing-5);
  padding: var(--spacing-4);

  .formWrapper {
    min-width: fit-content;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}
