.container {
  margin: 0 auto;
  width: 760px;
  padding: var(--spacing-3) var(--spacing-4);

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    margin-bottom: var(--spacing-4);

    .addButton {
      display: flex;
      gap: var(--spacing-2);
      align-items: center;

      > button {
        width: 60px;
      }
    }

    .basicInfoBox {
      padding: var(--spacing-3) var(--spacing-4);

      .dataList {
        height: 200px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: var(--spacing-3);
      }
    }

    .additionalInfoBox {
      padding: var(--spacing-3) var(--spacing-4);

      .dataList {
        height: 150px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: var(--spacing-3);
      }
    }

    .inputForm {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-2);
      justify-content: flex-end;

      .button {
        display: flex;
        justify-content: center;
        > button {
          width: 250px;
        }
      }
    }
  }
}
