.appBar {
  height: var(--header-hight);

  .toolBar {
    display: flex;
    gap: var(--spacing-2);
    align-items: center;
    padding: 0 var(--spacing-6);

    .tabs {
      display: flex;
      width: 80%;
      height: var(--header-hight);
      align-items: center;

      /** MUIのbuttonのデフォルト値を更新 */
      button {
        min-height: var(--header-hight);
      }
    }
  }
}

.container {
  padding-top: var(--header-hight);
  overflow-y: auto; /* コンテンツエリアにスクロールバーを表示 */
  height: 100vh; /* 高さを明示することでスクロールバーが表示される */
}
