.headerMenu {
  justify-content: space-between;

  .mobileHeader {
    padding-top: var(--spacing-1);
  }

  .pcHeader {
    display: flex;
    padding-right: var(--spacing-5);
    width: 50%;

    .link {
      color: var(--white);
    }
  }
}
