.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  margin: 0 auto;
  padding: var(--spacing-5) 0 var(--spacing-18);
  width: 720px;
}

.wrapper > div {
  display: flex;
}

.wrapper > div:not(.right) {
  justify-content: flex-start;
}

.wrapper > div.right {
  justify-content: flex-end;
}
