.container {
  display: flex;
  gap: var(--spacing-4);
  padding-bottom: var(--spacing-4);

  .mainInfo {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
    width: 45%;
  }

  .icons {
    align-self: center;
    display: flex;
    gap: var(--spacing-1);
    justify-content: center;
  }
}
