.container {
  width: 80%;

  .searchOps {
    display: flex;
    gap: var(--spacing-3);
    align-items: center;
    margin-bottom: var(--spacing-2);
    margin-left: var(--spacing-1);

    .resultLength {
      display: flex;
      align-items: flex-end;
      gap: var(--spacing-1);
    }

    .input {
      width: 25%;
      display: flex;
      gap: var(--spacing-2);
    }
  }
}
