.searchOps {
  display: flex;
  gap: var(--spacing-2);

  //TODO: flexの割合変える (タグの右側スペース大きい)
  .input {
    width: 15%;
    align-items: center;
    display: flex;
    gap: var(--spacing-2);
    margin: var(--spacing-1) 0 var(--spacing-2);
  }
}
