// 各index.module.scssからアクセスするためのカスタムプロパティ
:root {
  //breakpoint
  --breakpoint: 768px;

  //responsive
  --pcButtonWidth: 343px;

  //font-size
  --fontSizeXS: 12px;
  --fontSizeS: 14px;
  --fontSizeM: 16px;
  --fontSizeL: 18px;
  --fontSizeXL: 20px;
  --fontSizeXXL: 24px;

  //spacing
  --spacing-1: 4px; /* 小さい間隔 */
  --spacing-2: 8px; /* 通常の間隔 */
  --spacing-3: 12px; /* やや大きい間隔 */
  --spacing-4: 16px; /* 中くらいの間隔 */
  --spacing-5: 20px; /* 大きい間隔 */
  --spacing-6: 24px; /* より大きい間隔 */
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-14: 56px; /* headerのheight */
  --spacing-18: 72px;
  --spacing-24: 96px;

  //container-size
  --containerSmall: 360px;

  //background-color
  --bgColorBase: #fcffe9;
  --bgColorWhite: #fff;

  //color
  --white: #fff;
}
